[mysqld]
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
default-time-zone="+03:00"
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2
sync_binlog=0
transaction-isolation=READ-COMMITTED
binlog_cache_size=0
sql_mode=""
innodb_use_native_aio=0
ignore-db-dir=lost+found
sort_buffer_size=4M
innodb_strict_mode=OFF

#[O_DIRECT|O_DSYNC|fsync|...etc]
innodb_flush_method=O_DSYNC
innodb_buffer_pool_size=4G
#innodb_buffer_pool_instances=5
#innodb_buffer_pool_chunk_size=900
table_definition_cache=1348
join_buffer_size=512M
max_heap_table_size=32M
tmp_table_size=32M
innodb_log_file_size=500M
performance_schema=ON


[client]
default-character-set=utf8

[mysql]
default-character-set=utf8